<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>bowerder - the bower components loader for browsers</title>

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="weblibs/reveal.js/lib/css/zenburn.css">

		<link rel="stylesheet" href="weblibs/reveal.js/css/theme/white.css">
		<link rel="stylesheet" href="css/style.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<script src="weblibs/bowerder/dist/loader.min.js" data-bowerreg></script>
	</head>

	<body>

		<div class="reveal" data-hidden>
			<div class="slides">
				<!-- Use external markdown resource, separate slides by three newlines; vertical slides by two newlines -->
				<section data-markdown="README.md" data-separator="^\n\n\n" data-separator-vertical="^\n\n"></section>
			</div>
		</div>
		
		<figure id="fixed-icon" onclick="setSideBarDisplay()">
			<img v-bind:src="fixedIconPath" alt="bowerder-icon" />
		</figure>
		
		<nav data-hidden id="sidebar" class="i-nav mi-bar bg-style t-fixed">
			<ul>
				<li><a href="#">introduction</a></li>
				<li><a href="#/1">usage overview</a></li>
				<li><a href="#/2">installation</a></li>
				<li><a href="#/3">get started</a></li>
				<li><a href="#/4">functionment</a></li>
				<li><a href="#/5">contribution</a></li>
				<li><a href="#/6">license</a></li>
			</ul>
			
			<br />
			<center>
				<button onclick="openMIDialog( document.getElementById('code-demo').innerHTML)"><i class="fa fa-eye"></i> &gt; code demo</button>
				<a class="i-btn" href="https://github.com/tnga/bowerder"><i class="fa fa-github"></i> view on github</a>
				<br />
				<br />
				made with <i id="with-heart" class="fa fa-heart" style="color: red"></i> by <a href="https//github.com/tnga">tnga</a>
			</center>
		</nav>
		
		<div id="code-demo" data-hidden>
			<span>What about to give more informations about libraries that powered this web page <i>(or have been loaded by bowerder here)</i> ?</span>
			<pre>
				<code class="lang-js hljs javascript">
{{fnPoweredBy}}
				</code>
			</pre>
			<button onclick="codeDemoView.demoPoweredBy();">run this code</button>
		</div>
		<div id="view-demo" data-hidden>
			<div id="about-view">
				<h4>love and thank to these modules:</h4>
				<div class='i-block collection' v-for="pkg in poweredBy">
					<h5>{{pkg.name}}</h5>
					<p style="line-height: 25px">
						<b v-if="pkg.authors">author(s): </b><span>{{pkg.authors.join(', ')}}</span><br/>
						<b v-if="pkg.description">description: </b><span>{{pkg.description}}</span><br/>
						<b v-if="pkg.homepage">homepage: </b><span>{{pkg.homepage}}</span><br/>
					</p>
				</div>
			</div>
		</div>

		<script src="js/index.js"></script>

	</body>

</html>